body {
    background: url(images/thunderimg.png);
    background-repeat: no-repeat;
    background-size: cover; 
}

h1 {
    text-align: center;
  }
  .nav {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}
div {
    display: block;
}
body {
    
    font-family: 'Roboto', sans-serif;
    color: #222;
}
  